body, html {
	background:#000;
	font-family:Arial;
	color:#fff;
}
a {
	color: #6CC04A;
	text-decoration:none;
}
a:hover {
	color:#1b6af2
}
.wrapper {
	display:block;
	border-radius: 12px;
	margin:20px auto;
	min-width:320px;
	max-width:800px;
	height: calc(100vh - 200px);
	background:#131a26;
}
.header {
	margin:10px;
	display:block;
}
.content {
	margin:10px;
	display:block;
	font-size:18px;
	text-align:center;
}
.footer {
	margin:10px;
	display:block;
	text-align:center;
	font-size:14px;
}
a.logo span {
	font-size:50px;
	display:inline block;
	color:#fff;
}
a.logo img {
	float:left;
	height:64px;
	margin:0 10px 0 0;
}
a.logo small {
	font-size:10px;
	display:block;
	color:#ccc;
}
.controls {
	margin: 25px auto;
	display:block;
	text-align:center;
}
.controls div.option {
	width: 75px;
	overflow:hidden;
	display:inline-block;
	margin:10px;
	font-size:12px;
	color:#fff;
	text-align:center;
	padding:10px;
	border:1px solid #0b0b0d;
	position: relative;
}
.controls div.option:hover {
	color:#fff;
	background:#0b0b0d;
	border:1px solid #1c1c21;
	cursor:pointer;
}
.controls div.option span  {
	display:block;
	margin:5px;
}
.controls div.option div.sub {
	display:none;
	position: absolute;
	top: 0px;
	width: 80%;
}
.controls div.option.wsub:hover img,
.controls div.option.wsub:focus img {
	width:24px;
	height:24px;
}
.controls div.option:hover div.sub,
.controls div.option:focus div.sub {
	display:block;
}
div.sub div {
	display:block;
	cursor:pointer;
	padding:1px 3px;
	margin:2px;
	font-size:12px;
	color:#db1d66;
	text-align:center;
	border:1px solid #0b0b0d;
	background:rgba(0,0,0,0.9);
}
div.sub div:hover { 
	color: #fff;
}
.output {
	color:#fff;
	background:#0b0b0d;
	border:1px solid #1c1c21;
	min-height:15px;
	font-size:14px;
	line-height:0.8;
	padding:5px;
	font-family:Courier;
	margin: 5px auto;
	display:block;
	text-align:left;
}
.output::before {
	content:'Output:> ';
	color:#6CC04A;
}
.output::after {
	content:'_';
	color:#1b6af2
}
.line {
	display:block;
	font-size:14px;
	line-height:0.8;
}
input[type="password"]{
	color:#fff;
	background:#0b0b0d;
	border:1px solid #1c1c21;
	font-size:14px;
	line-height:0.8;
	padding:5px;	
}
.stats {
	display:inline-block;
	color:#fff;
	background:#0b0b0d;
	border:1px solid #1c1c21;
	font-size:14px;
	padding:10px 10px 10px 10px;
	font-family:Courier;
	margin: 5px auto;
	text-align:left;
	min-height:64px;
	width:90%;
	border-radius: 10px;
}
.animate {
	animation: pulse 1s 1;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.stats img {
	margin:5px 10px 0 -64px;
	float:left;
}
.stats span {
	display:block;
	line-height:0.9;
	white-space:nowrap;
	margin-right:10px;
	
}
.stats span b {
	color: #6CC04A;
}
.main {
	font-size: 60px;
	#color: #6CC04A;
	background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 32%, rgba(83, 124, 237, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.fas.header {
	font-size: 54px;
	float: left;
        background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 32%, rgba(83, 124, 237, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.pi-logo {
	width: 29px;
	color: #C51A4A;
	padding: 0 10px 0 5px;
}
